<div class="conteiner">
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>PlayersFrom</th>
      <th>PlayersTo</th>
      <th>SessionMinutesFrom</th>
      <th>SessionMinutesTo</th>
      <th>AgeFrom</th>
      <th>YearReleased</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = 'let game of game'>
      <td>{{game.Title}}</td>
      <td>{{game.PlayersFrom}}</td>
      <td>{{game.PlayersTo}}</td>
      <td>{{game.SessionMinutesFrom}}</td>
      <td>{{game.SessionMinutesTo}}</td>
      <td>{{game.AgeFrom}}</td>
      <td>{{game.YearReleased}}</td>
      <td><input type="button" value="Details"  routerLink="/item/{{game.Id}}" class="btn btn-success"/></td>
      <td><input type="button" value="Delete" (click)="onDelete(game)" class="btn btn-danger" /></td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary add" [routerLink]="['/add']">ADD  GAME</button>
</div>

 
  
