<div class="conteiner">
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>PlayersFrom</th>
      <th>PlayersTo</th>
      <th>SessionMinutesFrom</th>
      <th>SessionMinutesTo</th>
      <th>AgeFrom</th>
      <th>YearReleased</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = 'let game of games'>
      <td>{{game.title}}</td>
      <td>{{game.playersFrom}}</td>
      <td>{{game.playersTo}}</td>
      <td>{{game.sessionMinutesFrom}}</td>
      <td>{{game.sessionMinutesTo}}</td>
      <td>{{game.ageFrom}}</td>
      <td>{{game.yearReleased}}</td>
      <td><input type="button" value="Details"  routerLink="/item/{{game.id}}" class="btn btn-success"/></td>
      <td><input type="button" value="Delete" (click)="openConfirmationDialog(game)" 
      class="btn btn-danger" /></td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary add" [routerLink]="['/add']">ADD  GAME</button>
</div>


 
  
