<div class="conteiner" *ngIf="itemGame">
  <h1>Edit game.</h1>
  <form #form='ngForm' (ngSubmit)='form.reset()'>
      <div class="form-group">
        <label for="t">Title:</label>
        <input type="text" class="form-control" id="t" name = 'title' [(ngModel)]="itemGame.Title" 
        required #title="ngModel">
        <div [hidden]="title.valid || title.untouched" class="alert">
            This field is required!
        </div>
      </div>
      <div>
        <label for="comment">Description:</label>
        <textarea class="form-control" rows="5" id="comment" name = 'description' 
        [(ngModel)]="itemGame.Description"></textarea>
      </div>
      <div>
        <label for="url">CoverUrl:</label>
        <input type="text" class="form-control" id="url" name = 'coverUrl' [(ngModel)]="itemGame.CoverUrl"
        #coverUrl="ngModel"
        pattern='(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?'>
        <div [hidden]="coverUrl.valid" class="alert">
            Url is not valid!
        </div>
      </div>
      <div>
        <label for="pf">PlayersFrom:</label>
        <input type="number" class="form-control" id="pf" name = 'playersFrom' [(ngModel)]="itemGame.PlayersFrom" 
        #playersFrom="ngModel">
      </div>
      <div>
        <label for="pt">PlayersTo:</label>
        <input type="number" class="form-control" id="pf" name = 'playersTo' [(ngModel)]="itemGame.PlayersTo" 
        #playersTo="ngModel">
      </div>
      <div>
        <label for="sf">SessionMinutesFrom:</label>
        <input type="number" class="form-control" id="pf" name = 'sessionMinutesFrom' [(ngModel)]="itemGame.SessionMinutesFrom" 
        #sessionMinutesFrom="ngModel">
      </div>
      <div>
        <label for="st">SessionMinutesTo:</label>
        <input type="number" class="form-control" id="pf" name = 'sessionMinutesTo' [(ngModel)]="itemGame.SessionMinutesTo" 
        #sessionMinutesTo="ngModel">
      </div>
      <div>
        <label for="af">AgeFrom:</label>
        <input type="number" class="form-control" id="pf" name = 'ageFrom' [(ngModel)]="itemGame.AgeFrom" 
        #ageFrom="ngModel">
      </div>
      <div>
        <label for="yr">YearReleased:</label>
        <input type="text" class="form-control" id="yr" name = 'yearReleased' [(ngModel)]="itemGame.YearReleased" 
        #yearReleased="ngModel" pattern='[0-9]{4}'>
        <div [hidden]="yearReleased.valid" class="alert">
            Insert the year!
        </div>
      </div>
      <button type="button" class="btn btn-primary add" [disabled]="form.form.invalid" 
      routerLink="/item/{{itemGame.Id}}">SAVE CHANGES</button>
    </form>
</div>


<div class="conteiner" *ngIf="!itemGame">
  <h1>Add new game.</h1>
  <form #form='ngForm' (ngSubmit)='form.reset()'>
      <div class="form-group">
        <label for="t">Title:</label>
        <input type="text" class="form-control" id="t" name = 'title' [(ngModel)]="Title" required  #title="ngModel">
        <div [hidden]="title.valid" class="alert">
            This field is required!
        </div>
      </div>
      <div>
        <label for="comment">Description:</label>
        <textarea class="form-control" rows="5" id="comment" name = 'Description' [(ngModel)]="Description"></textarea>
      </div>
      <div>
        <label for="url">CoverUrl:</label>
        <input type="text" class="form-control" id="url" name = 'coverUrl' [(ngModel)]="CoverUrl" #coverUrl="ngModel"
        pattern='(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?'>
        <div [hidden]="coverUrl.valid" class="alert">
            Url is not valid!
        </div>
      </div>
      <div>
        <label for="pf">PlayersFrom:</label>
        <input type="number" class="form-control" id="pf" name = 'playersFrom' [(ngModel)]="PlayersFrom" 
        #playersFrom="ngModel">
      </div>
      <div>
        <label for="pt">PlayersTo:</label>
        <input type="number" class="form-control" id="pf" name = 'playersTo' [(ngModel)]="PlayersTo" 
        #playersTo="ngModel">
      </div>
      <div>
        <label for="sf">SessionMinutesFrom:</label>
        <input type="number" class="form-control" id="pf" name = 'sessionMinutesFrom' [(ngModel)]="SessionMinutesFrom" 
        #sessionMinutesFrom="ngModel">
      </div>
      <div>
        <label for="st">SessionMinutesTo:</label>
        <input type="number" class="form-control" id="pf" name = 'sessionMinutesTo' [(ngModel)]="SessionMinutesTo" 
        #sessionMinutesTo="ngModel">
      </div>
      <div>
        <label for="af">AgeFrom:</label>
        <input type="number" class="form-control" id="pf" name = 'ageFrom' [(ngModel)]="AgeFrom" 
        #ageFrom="ngModel">
      </div>
      <div>
        <label for="yr">YearReleased:</label>
        <input type="text" class="form-control" id="yr" name = 'yearReleased' [(ngModel)]="YearReleased" #yearReleased="ngModel"
        pattern='[0-9]{4}'>
        <div [hidden]="yearReleased.valid" class="alert">
            Insert the year!
        </div>
      </div>
      <button type="submit" (click)="onSubmit()" class="btn btn-primary add" [routerLink]="['/']"
      [disabled]="form.form.invalid">ADD  GAME</button>
    </form>
</div>