.conteiner{
    width: 80%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 135px;
}
h1{
    color: green;
    width: 100%;
    text-align: center;
}
button{
margin-left: 50px;
}
.add{
    margin-top: 50px;
    margin-bottom: 50px;
}
.alert{
    background-color: rgb(250, 154, 154);
    border: 2px solid red;
    text-align: center;
}
th{
    width: 200px;
}
.button{
    text-align: center;
}

.from{
    width: 45%;
    float: left; 
    margin: 0;
}
.to{
    width: 45%;
    float: right; 
    margin: 0;
}
.dash{
    float: left;
    width: 10%;
    text-align: center;
}
span{
    font-weight: bolder;
    font-size: 20px;
}


