.conteiner{
    text-align: center;
    width: 80%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
h1{
    color: green;
}
.add{
    margin-top: 50px;
    margin-bottom: 50px;
}
.alert{
    background-color: rgb(250, 154, 154);
    border: 2px solid red;
}
