<div class="conteiner">
  <table class="table table-hover">
      <thead class="thead-dark">
          <tr>
            <th colspan="4">List of game designer roles</th>
          </tr>
        </thead>
    <tbody>
      <tr *ngFor = 'let role of roles'>
        <th>Title</th>
        <td>{{role.title}}</td>
        <td><input type="button" value="Details" routerLink="/itemDesignerRoles/{{role.id}}"  class="btn btn-success"/></td>
        <td><input type="button" value="Delete" (click)="openConfirmationDialog(role)" class="btn btn-danger" /></td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary add" [routerLink]="['/addDesignerRoles']">ADD  ROLE</button>
</div>