 
  <div class="conteiner">
    <h1>{{pageTitle}}</h1>
    <form class = "form" [formGroup] = 'roleForm' (ngSubmit)='onSubmit()' novalidate>
        <table class="table table-hover">
            <tbody>
                <tr>
                <th>Title</th>
                <td>
                    <input type="text" class="form-control" id="t" formControlName = "title" placeholder="Title">
                    <div *ngIf="roleForm.controls['title'].invalid" class="alert">
                      This field is required!
                    </div>
                </td>
                </tr>
            </tbody>
        </table>
        <button type="button" (click)="goBack()" class="btn btn-success">BACK</button>
        <button type="submit" class="btn btn-primary add" [disabled]="roleForm.invalid">{{buttonTitle}}</button>
    </form>
  </div>