
<div class="container">
    <h3>Details of Game</h3>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>Title</th>
          <td>{{itemGame?.title}}</td>
        </tr>
        <tr>
          <th>Year of release</th>
          <td>{{itemGame?.yearReleased}}</td>
        </tr>
        <tr>
          <th>Cover</th>
          <td><img src="{{itemGame?.coverUrl}}" alt="No photo"></td>
        </tr>
        <tr>
          <th>Players from-to</th>
          <td>{{itemGame?.playersFrom}} - {{itemGame?.playersTo}}</td>
        </tr>
        <tr>
          <th>Session from-to</th>
          <td>{{itemGame?.sessionMinutesFrom}} - {{itemGame?.sessionMinutesTo}}</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>{{itemGame?.ageFrom}}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{itemGame?.description}}</td>
        </tr> 
      </tbody>
    </table>
    <button type="button" class="btn btn-success add" [routerLink]="['/']">TO LIST GAME</button>
    <button type="button" class="btn btn-primary" routerLink="/edit/{{itemGame?.id}}">EDIT GAME</button>
</div> 