
<div class="conteiner">
  <h1>{{pageTitle}}</h1>
  <form class = 'form' [formGroup] = 'designerForm' (ngSubmit)='onSubmit()' novalidate>
      <table class="table table-hover">
          <tbody>
            <tr>
              <th><label for="t">FirstName:</label></th>
              <td>
                <input type="text" class="form-control" id="t" name = 'firstName' 
                formControlName = "firstName" placeholder="FirstName">
                <div *ngIf="designerForm.controls['firstName'].invalid" class="alert">
                  This field is required!
                </div>
              </td>
            </tr>
            <tr>
              <th><label for="f">LastName:</label></th>
              <td>
                <input type="text" class="form-control" id="f" name = 'lastName' 
                formControlName = "lastName" placeholder="LastName">
                <div *ngIf="designerForm.controls['lastName'].invalid" class="alert">
                  This field is required!
                </div>
              </td>
            </tr>
            <tr>
              <th><label for="biography">Biography:</label></th>
              <td>
                <textarea class="form-control" rows="5" id="biography" name = 'bio' 
                formControlName = "bio" placeholder="Biography"></textarea>
              </td>
            </tr>
            <tr>
              <th><label for="url">Photo:</label></th>
              <td>
                <input type="text" class="form-control" id="url" name = 'photoUrl' 
                formControlName = "photoUrl" placeholder="Url">
                <div *ngIf="designerForm.controls['photoUrl'].invalid" class="alert">
                  Url is not valid!
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      <div>
        <button type="button" (click)="goBack()" class="btn btn-success" 
        >BACK</button>
        <button type="submit" class="btn btn-primary add"[disabled]="designerForm.invalid">
        {{buttonTitle}}</button>
      </div>
    </form>
</div>